player-connection-mode=Listen
player-connection-guid=1212926063
player-connection-debug=0
player-connection-project-name=shogi
player-connection-ip=192.168.0.3
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c8aaeb86081b4366adaf9d561c63c23d
