player-connection-mode=Listen
player-connection-guid=1807182798
player-connection-debug=0
player-connection-project-name=shogi
player-connection-ip=192.168.0.3
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5277f115434646d3b8cbea48287e148a
