player-connection-mode=Listen
player-connection-guid=863103356
player-connection-debug=0
player-connection-project-name=shogi
player-connection-ip=10.132.22.236
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c267fc1ff64349efae5d3d16b0013c53
